.calculator {
    box-sizing: border-box;
    background-color: #34495E;
    padding: 10px;
    width: 300px;
    position: absolute;
    top: 20%;
    left: 40%;
    border-radius: 10px 10px;
}

.cal-input{
    margin-left: 15px;
    margin-top: 10px;
}

.key{
    margin: 5px;
    padding: 4px 15px;
    background: transparent;
    border: none;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .1), 5px 5px 15px rgba(0, 0, 0, .2);
    color: white;
    font-size: 20px;
}

.op-key{
    color: #3498DB;
}

.equal-key{
    width: 115px;
    color: #2ECC71;
}

.del-key{
    color: #E74C3C;
}